@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url("res/font_nunito.[ver].woff2") format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'DuranGo';
    font-style: normal;
    font-weight: 400;
    src: url("res/font_durango.[ver].ttf") format('truetype');
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    font-family: DuranGo, sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
}
html { overflow: hidden; }
body { overflow: auto; }
canvas { position: absolute; }

body {
    background: rgb(32, 41, 48);
}
body.webp {
    background: rgb(32, 41, 48) url("res/background.[ver].webp") repeat;
    background-size: 35vh;
}
body.no-webp {
    background: rgb(32, 41, 48) url("res/background.[ver].png") repeat;
    background-size: 35vh;
}
img {
    height: auto;
}
