@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url("res/font_nunito.[ver].woff2") format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'DuranGo';
    font-style: normal;
    font-weight: 400;
    src: url("res/font_durango.[ver].ttf") format('truetype');
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    font-family: DuranGo, sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
}
html { overflow: hidden; }
body { overflow: auto; }
canvas { position: absolute; }

body {
    background: rgb(32, 41, 48);
}
body.webp {
    background: rgb(32, 41, 48) url("res/background.[ver].webp") repeat;
    background-size: 35vh;
}
body.no-webp {
    background: rgb(32, 41, 48) url("res/background.[ver].png") repeat;
    background-size: 35vh;
}
img {
    height: auto;
}


/*
 *  LOADING SCREEN
 */
#loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 1.5vh;
    background-color: white;
}
#loading-text {
    position: fixed;
    bottom: 65%;
    width: 100%;
    color: white;
    font: 6vh Serif;
    text-align: center;
    vertical-align: baseline;
}
#loading-wheel {
    position: fixed;
    top: 40%;
    left: 50%;
    height: 30vh;
    width: 30vh;
    transform: translate(-50%, 0);
}
#loading-wheel polyline {
    stroke-width: 10;
    fill: none;
}
.stroke-still { stroke: rgb(15, 18, 20); }
.stroke-animation {
    animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    transform-origin: center center;
}
@keyframes stroke-spacing {
    0% { stroke-dasharray: 0 200; }
    45% {
        stroke-dashoffset: 0;
        stroke-dasharray: 200 200;
    }
    90% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
    }
    100% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
    }
}
@keyframes stroke-color {
    0%  { stroke: #3498DB; }
    24% { stroke: #643232; }
    25% { stroke: #327864; }
    49% { stroke: #327864; }
    50% { stroke: #32326e; }
    74% { stroke: #32326e; }
    75% { stroke: #78325a; }
    99% { stroke: #78325a; }
}




/*
 *  MENU
 */

.shadow, .shadow-no-hover {
    filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.4));
}
.shadow:hover {
    filter: drop-shadow(6px 6px 12px rgba(255, 255, 255, 0.1));
}

#play-button img, #play-canvas {
    filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.4));
}
#play-button:hover canvas {
    filter: drop-shadow(6px 6px 12px rgba(255, 255, 255, 0.1));
}
#play-button img {
    filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.4));
}

#menu-outer {
    display: flex;
    width: 100%;
    height: 100%;
}

#menu {
    z-index: 5;
    margin: auto;
}

#title {
    display: block;
    width: 100%;
    animation: bounce ease-in-out 2s infinite alternate;
}
#title img.logo_image {
    width: 100%;
    height: auto;
}

@keyframes bounce {
    from { transform: translateY(0px); }
    to { transform: translateY(-2%);}
}
@-webkit-keyframes bounce {
    from { transform: translateY(0px); }
    to { transform: translateY(-2%); }
}

.menu-button {
    margin: auto;
    cursor: pointer;
}
.menu-button canvas {
    margin: auto;
    position: relative;
}

#play-button {
    padding: 0;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
}

#play-button canvas {
    display: inline-block;
    vertical-align: middle;
}

#play-button img {
    display: inline-block;
    vertical-align: middle;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, margin-left 0.2s ease-in-out, margin-right 0.2s ease-in-out;
}

#learn-button, #learn-button canvas {
    display: block;
    vertical-align: middle;
}

#watch-button, #watch-button canvas {
    display: block;
    vertical-align: middle;
}


/*
 *  PLAY SELECTION AND COMPUTER DIFFICULTY SCREENS
 */

#play-select, #computer-difficulty {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.85);

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;
}

#computer-difficulty-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 75vh;
}
#computer-difficulty-title, .difficulty-option {
    color: white;
    text-align: center;
    font-family: DuranGo, sans-serif;
    font-size: 7vh;
    width: 100%;
}
#computer-difficulty-title {
    margin-bottom: 1vh;
}
.difficulty-option {
    cursor: pointer;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    opacity: 0.6;
}
.difficulty-option:hover {
    opacity: 1.0;
}

.play-select-option {
    position: absolute;
    display: inline-block;

    top: 45%;
    transform: translateY(-50%);

    cursor: pointer;
    opacity: 0.6;
}
.play-select-option:hover {
    opacity: 1.0;
}

#play-select-description {
    position: absolute;
    display: inline-block;

    cursor: default;
    color: white;
    font-size: 26px;
    text-align: center;
    vertical-align: middle;
}

.play-select-scaling {
    text-align: center;
    display: inline-block;

    width: 80%;
    height: 80%;
    margin: 10%;

    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, margin 0.2s ease-in-out;
}

.play-select-option:hover .play-select-scaling {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.play-select-text {
    font-family: Nunito, sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-shadow: 0 0 20px rgb(0, 0, 0);
    color: white;
    white-space: pre;
}

.play-select-icon {
    padding-top: 5%;
    width: 75%;
}

#play-online .play-select-icon {
    padding-top: 3%;
    width: 70%;
}

#play-computer .play-select-icon {
    padding-top: 1%;
    width: 70%;
}



/*
 *  GAME ELEMENTS
 */
#board { z-index: 1; }
#tiles { z-index: 3; touch-action: none; }
.score { z-index: 1; }
#dice { z-index: 4; }



/*
 * STATUS
 */
#network-status {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;

    padding: 5px;
    padding-left: 10px;

    font-family: Nunito, sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    color: white;
}
#message-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.25);
    pointer-events: none;
}
#message {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -100%);

    font-family: Nunito, sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-shadow: 0 0 20px rgb(0, 0, 0);
    color: white;
    text-align: center;
    pointer-events: all;
}
#join-discord {
    display: block;
    position: absolute;
    width: 50vh;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: all;
}
#join-discord img {
    width: 100%;
}



/*
 *  OVERLAY
 */
#overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;

    pointer-events: none;
}



/*
 *  CREDITS
 */
#credits {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 50;
    vertical-align: baseline;
}
#created-by {
    padding: 10px;
    padding-bottom: 6px;
    font-family: DuranGo, sans-serif;
    font-size: 2.5vh;
    text-shadow: black 0 0 10px;
}
#created-by a {
    display: inline-block;
    text-decoration: none;
    color: white;
    cursor: pointer;
}



/*
 * CONTROLS
 */
#controls {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.8vh;
    margin-right: 1.2vh;
    z-index: 100;

    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}
#controls:hover {
    opacity: 1;
}
#controls .control {
    display: inline-block;
    float: right;
}

#controls svg {
    height: 5.5vh;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}
#controls svg:hover {
    opacity: 1;
}

svg.control-icon { cursor: pointer; }
svg.control-icon line, svg.control-icon path {
    stroke: white;
    stroke-linecap: round;
    transition: stroke-width 0.2s ease-in-out;
}
svg.settings-icon * { fill: white; }
svg.settings-icon path { stroke-width: 0; }
svg.settings-icon:hover path { stroke-width: 0.75; }
svg.question-mark-icon * { fill: none; }
svg.question-mark-icon line { stroke-width: 21; }
svg.question-mark-icon path { stroke-width: 19; }
svg.question-mark-icon:hover line { stroke-width: 24; }
svg.question-mark-icon:hover path { stroke-width: 23; }
svg.exit-icon line { stroke-width: 20; }
svg.exit-icon:hover line { stroke-width: 24; }
svg.github-icon * { fill: white; }
svg.github-icon path { stroke-width: 0; }
svg.github-icon:hover path { stroke-width: 0.4; }
svg.discord-icon * { fill: white; }
svg.discord-icon path { stroke-width: 0; }
svg.discord-icon:hover path { stroke-width: 0.3; }
svg.discord-icon:hover path.discord-eyes {stroke-width: 0; }


/*
 * LEARN SCREEN
 */

#learn {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow-y: scroll;
    background: rgba(0,0,0,0.5);
}

#learn-title {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}

#learn-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 2vh;
    padding-left: 5vh;
    padding-right: 5vh;
}
#learn-content, #learn-content * {
    font-family: Nunito, sans-serif;
    font-size: 3.5vh;
    text-decoration: none;
    color: white;
}
#learn-content b {
    text-decoration: underline;
    margin-right: 0.75vh;
}
#learn-content .how-to-play {
    display: inline-block;
    margin-bottom: 0.8vh;
}
#learn-content .sub-text, #learn-content .inline-sub-text {
    font-size: 2.8vh;
    margin-top: 0.15vh;
}
#learn-content .inline-sub-text { display: inline; }
#learn-back-button {
    display: inline;
    border: 3px solid white;
    border-radius: 1vh;
    padding: 0.5vh 2vh;

    font-family: Nunito,sans-serif;
    font-size: 4vh;
    color: white;
    cursor: pointer;

    opacity: 0.75;
    transition: opacity 0.1s ease-in-out;
}
#learn-back-button:hover {
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}
.centre-text {
    display: block;
    text-align: center;
}
