@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(res/font/Nunito.woff2) format('woff2');
}

@font-face {
    font-family: 'DuranGo';
    font-style: normal;
    font-weight: 400;
    src: url(res/font/DuranGo.ttf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
    font-family: DuranGo, sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    background: url(res/wood-blue-1.png) repeat;
    background-size: 300px;
}

html {
    overflow: hidden;
}

body {
    overflow: auto;
}

canvas {
    position: absolute;
}



/*
 *  LOADING SCREEN
 */

#loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 10px;
    background-color: white;
}

#loading svg {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.stroke-still {
    stroke: #232323;
}

.stroke-animation {
    -webkit-animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
    animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

@-webkit-keyframes stroke-spacing {
    0% {
        stroke-dasharray: 0 200;
    }
    45% {
        stroke-dashoffset: 0;
        stroke-dasharray: 200 200;
    }
    90% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
    }
    100% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
    }
}

@keyframes stroke-spacing {
    0% {
        stroke-dasharray: 0 200;
    }
    45% {
        stroke-dashoffset: 0;
        stroke-dasharray: 200 200;
    }
    90% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
    }
    100% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
    }
}

@-webkit-keyframes stroke-color {
    0%  { stroke: #3498DB; }
    24% { stroke: #643232; }
    25% { stroke: #327864; }
    49% { stroke: #327864; }
    50% { stroke: #32326e; }
    74% { stroke: #32326e; }
    75% { stroke: #78325a; }
    99% { stroke: #78325a; }
}

@keyframes stroke-color {
    0%  { stroke: #3498DB; }
    24% { stroke: #643232; }
    25% { stroke: #327864; }
    49% { stroke: #327864; }
    50% { stroke: #32326e; }
    74% { stroke: #32326e; }
    75% { stroke: #78325a; }
    99% { stroke: #78325a; }
}




/*
 *  MENU
 */

.shadow {
    filter: url(#drop-shadow-black);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=6, OffY=6, Color='#444')";
}

.shadow:hover {
    filter: url(#drop-shadow-white);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
}

#play img {
    filter: url(#drop-shadow-black);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=6, OffY=6, Color='#444')";
}

#play span {
    filter: url(#drop-shadow-black);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
}

#play:hover span {
    filter: url(#drop-shadow-white);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
}

#menu-outer {
    display: flex;
    width: 100%;
    height: 100%;
}

#menu {
    /* The Javascript will decide when to display the menu */
    opacity: 0;

    z-index: 5;
    margin: auto;
    max-width: 700px;
}

#title {
    width: 100%;
    margin-bottom: 20px;
    animation: bounce ease-in-out 2s infinite alternate;
    -webkit-animation: bounce ease-in-out 2s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-15px);
    }
}
@-webkit-keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-15px);
    }
}

.menu-button {
    margin: auto;
    margin-bottom: 20px;
    height: 90px;
    line-height: 90px;
}

.menu-button:hover {
    cursor: pointer;
}

.menu-button img {
    height: 80px;
    width: auto;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;

    transition: height 0.2s ease-in-out, margin-left 0.2s ease-in-out, margin-right 0.2s ease-in-out;
}

.menu-button:hover img {
    height: 90px;
    width: auto;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;

    transition: height 0.2s ease-in-out, margin-left 0.2s ease-in-out, margin-right 0.2s ease-in-out;
}

#play {
    display: block;
    padding: 0;
    width: 550px;
    height: 120px;
    line-height: 120px;
    margin-bottom: 40px;
}

#play span {
    display: inline-block;
    vertical-align: middle;
    height: 120px;
    width: 300px;

    background: url(res/buttons/play.png) no-repeat center;
    background-size: contain;
}

#play:hover span {
    background: url(res/buttons/play_active.png) no-repeat center;
    background-size: contain;
}

#learn {
    display: block;
    vertical-align: middle;
    height: 90px;
    width: 330px;

    background: url(res/buttons/learn.png) no-repeat center;
    background-size: contain;
}

#learn:hover {
    background: url(res/buttons/learn_active.png) no-repeat center;
    background-size: contain;
}

#watch {
    display: block;
    vertical-align: middle;
    height: 90px;
    width: 330px;

    background: url(res/buttons/watch.png) no-repeat center;
    background-size: contain;
}

#watch:hover {
    background: url(res/buttons/watch_active.png) no-repeat center;
    background-size: contain;
}


/*
 *  BOARD
 */

#board {
    z-index: 1;
}



/*
 * TILES
 */

#tiles {
    z-index: 3;
}



/*
 * SCORES
 */

.score {
    z-index: 1;
}



/*
 * DICE
 */

#dice {
    z-index: 4;
}



/*
 * STATUS
 */
#network-status {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;

    opacity: 0;
    padding: 5px;
    padding-left: 10px;

    font-family: Nunito, sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    color: white;
}

#message-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    opacity: 0;

    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.25);

    display: table;
    text-align: center;
}

#message {
    display: table-cell;
    vertical-align: middle;

    font-family: Nunito, sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-shadow: 0 0 20px rgb(0, 0, 0);
    color: white;

    white-space: pre;
}



/*
 *  OVERLAY
 */

#overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;

    pointer-events: none;
}



/*
 *  CREDITS
 */

#credits {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    vertical-align: baseline;
}

#created-by {
    padding: 10px;
    padding-bottom: 6px;

    font-family: DuranGo, sans-serif;
    font-size: 20px;
    text-shadow: black 0 0 10px;
}

#created-by a {
    display: inline-block;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.twitter-follow-button {
    display: none;
    margin-left: 3px;
    margin-bottom: 6px;
    vertical-align: text-bottom;

    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.twitter-follow-button-rendered {
    display: inline-block;
}



/*
 *  EXIT BUTTON
 */

#exit {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;

    direction: rtl;
    overflow: hidden;

    width: 50px;
    height: 50px;

    transition: width 0.2s ease-in-out;
}

#exit:hover {
    cursor: pointer;
    width: 225px;

    transition: width 0.2s ease-in-out;
}

.exit-content {
    width: 225px;
    height: 50px;
    line-height: 50px;
}

.exit-content svg, .exit-content span {
    display: inline-block;
    vertical-align: middle;
}

.exit-content svg {
    width: 50px;
    height: 50px;
    vertical-align: top;
}

.exit-content span {
    padding-top: 2px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 28px;
    font-weight: 700;
    color: white;
    user-select: none;
}

.exit-content:active span {
    color: rgb(200, 200, 255);
}

.exit-content svg line {
    stroke: white;
    stroke-linecap: round;

    stroke-width: 21;
    transition: stroke-width 0.2s ease-in-out;
}

.exit-content:hover svg line {
    stroke-width: 25;
    transition: stroke-width 0.2s ease-in-out;
}
