iframe { /** IFrames are used for embedded YouTube videos. **/
    max-width: 100%;
    border: 0;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#header, #footer {
    display: block;
    box-sizing: border-box;
    max-width: 900px;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;

    font-size: 1.5rem;
    background: #151A1F;
    box-shadow: 0 0 10px 5px rgba(0,0,0,1);
}
#header {
    margin-bottom: 1rem;
}
#header a {
    line-height: 48px;
}
#header a, #footer a {
    text-decoration: none;
}
#header a img, #header a span {
    display: inline-block;
    vertical-align: middle;
}
#header a img {
    vertical-align: middle;
    height: 48px;
    width: auto;
}
#header a span {
    margin-left: 0.26em;
    margin-bottom: -0.3em;
    font-size: 2rem;
    color: white;
}


#footer {
    overflow: hidden;
    margin-top: 1rem;
}
#footer-text {
    display: inline-block;
    margin: 0.4em;
    line-height: 40px;
}
#footer-social-icons {
    float: right;
    margin-top: 0.2em;
    margin-right: 0.4em;
}
#footer a.link, #footer span.copyright {
    color: #bbbbbb;
    font-family: Nunito, sans-serif;
    font-size: 0.7em;
    margin-right: 1rem;
    vertical-align: middle;
}
#footer span.copyright {
    color: #999999;
    font-size: 0.55em;
}
#footer a.link:hover {
    color: #999999;
}
#footer a.social-icon {
    margin-left: 0.5em;
    line-height: 0;
}


#content, #call-to-action {
    display: block;
    box-sizing: border-box;
    max-width: 900px;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;

    font-size: 1.5rem;
    background: rgb(244, 239, 223);
    box-shadow: 0 0 10px 5px rgba(0,0,0,1);
}
#content * {
    font-family: Nunito, sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    text-decoration: none;
    color: black;
}
#content h1 {
    font-size: 1.5em;
}
#content hr {
    margin-bottom: 0.6em;
}
#content h2 {
    font-size: 1.2em;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
}
#content p {
    font-size: 0.65em;
    margin-bottom: 0.8em;
}
#content ul {
    list-style-position: outside;
    margin-left: 1em;
    margin-bottom: 0.8em;
    font-size: 0.65em;
}
#content ul ul {
    font-size: 1em;
    margin-top: 0.2em;
    margin-left: 2em;
}
#content ul li {
    margin-bottom: 0.2em;
}
#content ul ul li {
    margin-bottom: 0;
}
#content a {
    font-style: italic;
}
#content p.list-title {
    margin-bottom: 0.3em;
}


#call-to-action {
    background: #202930;
    text-align: center;
    padding: 1em;
    padding-top: 1.2em;
    color: white;
}
#call-to-action h2 {
    margin-bottom: 0.3em;
}
#call-to-action p {
    font-family: Nunito, sans-serif;
}
#call-to-action .play img {
    width: 40%;
    min-width: 200px;
    margin-top: 1.4rem;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.6));
}
#call-to-action .play:hover img {
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.4));
}
