iframe { /** IFrames are used for embedded YouTube videos. **/
    max-width: 100%;
    border: 0;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}


#content, #call-to-action {
    display: block;
    box-sizing: border-box;
    max-width: 900px;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;

    font-size: 1.5em;
    background: rgb(244, 239, 223);
    box-shadow: 0 0 10px 5px rgba(0,0,0,1);
}
#content * {
    font-family: Nunito, sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    text-decoration: none;
    color: black;
}
#content h1 {
    font-size: 1.5em;
}
#content hr {
    margin-bottom: 0.6em;
}
#content h2 {
    font-size: 1.5em;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
}
#content p {
    font-size: 1em;
    margin-bottom: 0.8em;
}
#content ul {
    list-style-position: outside;
    margin-left: 1em;
    margin-bottom: 0.8em;
    font-size: 0.9em;
}
#content ul ul {
    font-size: 1em;
    margin-top: 0.2em;
    margin-left: 2em;
}
#content ul li {
    margin-bottom: 0.2em;
}
#content ul ul li {
    margin-bottom: 0;
}
#content a {
    font-style: italic;
}
#content p.list-title {
    margin-bottom: 0.3em;
}


#call-to-action {
    background: #202930;
    text-align: center;
    padding: 1em;
    padding-top: 1.2em;
    color: white;
}
#call-to-action h2 {
    margin-bottom: 0.3em;
}
#call-to-action p {
    font-family: Nunito, sans-serif;
    margin-bottom: 0.8em;
}
#call-to-action .play img {
    width: 40%;
    min-width: 200px;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.6));
}
#call-to-action .play:hover img {
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.4));
}
