* {
    padding: 0;
    margin: 0;
    font-family: DuranGo, sans-serif;
}

body, html {
    width: 100%;
    min-height: 100%;
}

body {
    background-color: rgb(32, 41, 48);
    background-image: linear-gradient(to bottom right, rgb(28, 34, 40), rgb(41, 54, 64));
}
body.webp {
    background: rgb(32, 41, 48) url("/res/background.[ver].webp") repeat;
    background-size: 35vh;
}
body.no-webp {
    background: rgb(32, 41, 48) url("/res/background.[ver].png") repeat;
    background-size: 35vh;
}
img {
    height: auto;
    /* Stops showing the alt text if the image doesn't load */
    font-size: 0;
}

.shadow, .shadow-no-highlight {
    filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.4));
}
.shadow:hover {
    filter: drop-shadow(6px 6px 12px rgba(255, 255, 255, 0.1));
}

.text-button {
    display: inline;
    border: 3px solid white;
    border-radius: 1vh;
    padding: 0.5vh 2vh;
    margin-bottom: 3vh;

    font-family: Nunito,sans-serif;
    font-size: 5vh;
    color: white;
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.1s ease-in-out;
}
.text-button:hover {
    background-color: rgba(0, 0, 0, 1);
    transition: background-color 0.1s ease-in-out;
}
.centre-text {
    display: block;
    text-align: center;
}
