/** The banner in the top-left corner of the page that links to the GitHub. **/
.github-corner svg {
    fill: #151513;
    color: #ffffff;
    position: absolute;
    top: 0; right: 0; border: 0;
    filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.4));
}
.github-corner .octo-arm {
    transform-origin: 130px 106px;
}
@keyframes octocat-wave{
    0%, 100% {
        transform: rotate(0);
    }
    20%,60% {
        transform: rotate(-25deg);
    }
    40%, 80% {
        transform: rotate(10deg);
    }
}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}
@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
