/* Stop users scrolling */
html { overflow: hidden; }
body { overflow: auto; }
html, body { height: 100%; }

canvas { position: absolute; }

/*
 *  LOADING SCREEN
 */
#loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 1.5vh;
    background-color: white;
}
#loading-text {
    position: fixed;
    bottom: 65%;
    width: 100%;
    color: white;
    font: 6vh Serif;
    text-align: center;
    vertical-align: baseline;
}
#loading-wheel {
    position: fixed;
    top: 40%;
    left: 50%;
    height: 30vh;
    width: 30vh;
    transform: translate(-50%, 0);
}
#loading-wheel polyline {
    stroke-width: 10;
    fill: none;
}
.stroke-still { stroke: rgb(15, 18, 20); }
.stroke-animation {
    animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    transform-origin: center center;
}
@keyframes stroke-spacing {
    0% { stroke-dasharray: 0 200; }
    45% {
        stroke-dashoffset: 0;
        stroke-dasharray: 200 200;
    }
    90% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
    }
    100% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
    }
}
@keyframes stroke-color {
    0%  { stroke: #3498DB; }
    24% { stroke: #643232; }
    25% { stroke: #327864; }
    49% { stroke: #327864; }
    50% { stroke: #32326e; }
    74% { stroke: #32326e; }
    75% { stroke: #78325a; }
    99% { stroke: #78325a; }
}




/*
 *  MENU
 */

#play-button img, #play-canvas {
    filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.4));
}
#play-button:hover canvas {
    filter: drop-shadow(6px 6px 12px rgba(255, 255, 255, 0.1));
}
#play-button img {
    filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.4));
}

#menu-outer {
    display: flex;
    width: 100%;
    height: 100%;
}

#menu {
    z-index: 5;
    margin: auto;
}

#title {
    display: block;
    width: 100%;
    animation: bounce ease-in-out 2s infinite alternate;
}
#title img {
    width: 100%;
    height: auto;
}

@keyframes bounce {
    from { transform: translateY(0px); }
    to { transform: translateY(-2%);}
}
@-webkit-keyframes bounce {
    from { transform: translateY(0px); }
    to { transform: translateY(-2%); }
}

.menu-button {
    margin: auto;
    cursor: pointer;
}
.menu-button canvas {
    margin: auto;
    position: relative;
}

#play-button {
    padding: 0;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
}

#play-button canvas {
    display: inline-block;
    vertical-align: middle;
}

#play-button img {
    display: inline-block;
    vertical-align: middle;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, margin-left 0.2s ease-in-out, margin-right 0.2s ease-in-out;
}

#watch-button, #watch-button canvas, #learn-button, #learn-button canvas {
    display: block;
    vertical-align: middle;
}


/*
 *  PLAY SELECTION AND COMPUTER DIFFICULTY SCREENS
 */

#play-select, #computer-difficulty {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.85);

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;
}

#computer-difficulty-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 75vh;
}
#computer-difficulty-title, .difficulty-option {
    color: white;
    text-align: center;
    font-family: DuranGo, sans-serif;
    font-size: 7vh;
    width: 100%;
}
#computer-difficulty-title {
    margin-bottom: 1vh;
}
.difficulty-option {
    cursor: pointer;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    opacity: 0.6;
}
.difficulty-option:hover {
    opacity: 1.0;
}

.play-select-option {
    position: absolute;
    display: inline-block;

    top: 45%;
    transform: translateY(-50%);

    cursor: pointer;
    opacity: 0.6;
}
.play-select-option:hover {
    opacity: 1.0;
}

#play-select-description {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;

    cursor: default;
    color: white;
    font-size: 4vmin;
    text-align: center;
    vertical-align: middle;
}

.play-select-scaling {
    text-align: center;
    display: inline-block;

    width: 80%;
    height: 80%;
    margin: 10%;

    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, margin 0.2s ease-in-out;
}

.play-select-option:hover .play-select-scaling {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.play-select-text {
    font-family: Nunito, sans-serif;
    font-weight: 600;
    font-size: 5vmin;
    text-shadow: 0 0 20px rgb(0, 0, 0);
    color: white;
    white-space: pre;
}

#play-local .play-select-icon {
    padding-top: 1%;
    width: 85%;
}

#play-online .play-select-icon {
    padding-top: 0;
    width: 80%;
}

#play-computer .play-select-icon {
    padding-top: 5%;
    width: 75%;
}

#play-friend .play-select-icon {
    padding-top: 0;
    width: 75%;
}



/*
 *  GAME ELEMENTS
 */
#board { z-index: 1; }
#tiles { z-index: 3; touch-action: none; }
.score { z-index: 1; }
#dice { z-index: 4; }



/*
 * STATUS
 */
#network-status {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;

    padding: 5px;
    padding-left: 10px;

    font-family: Nunito, sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    color: white;
}
#message-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 15;

    background-color: rgba(0, 0, 0, 0.25);
}
#message-container.below-controls {
    z-index: 13;
}
#message {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -100%);
}
#message-title, #message-subtitle {
    font-family: Nunito, sans-serif;
    font-weight: 600;
    text-shadow: 0 0 20px rgb(0, 0, 0);
    color: white;
    text-align: center;
}
#message-title {
    font-size: 9vh;
}
#message-subtitle {
    font-size: 5vh;
}
#join-discord, #star-github {
    display: block;
    position: absolute;
    width: 50vh;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, 0);
}
#join-discord, #star-github {
    filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.8));
}
#join-discord img, #star-github img {
    width: 100%;
}


/*
 *  WAITING FOR A FRIEND
 */
#waiting-for-friend {
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#waiting-for-friend * {
    display: inline-block;
    height: 8vmin;

    color: black;
    font-family: Nunito, sans-serif;
    font-size: 7vmin;
    line-height: 7vmin;
    text-align: center;
    vertical-align: middle;
}
#waiting-for-friend label {
    display: block;
    margin-bottom: 8vmin;

    font-size: 8vmin;
    color: white;
}
#waiting-for-friend button {
    width: 20vmin;
    cursor: pointer;
    margin-left: 1vmin;
    font-size: 5vmin;
    line-height: 5vmin;
}
#waiting-for-friend .flex-break {
    flex-basis: 100%;
    height: 0;
}




/*
 *  OVERLAY
 */
#overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;

    pointer-events: none;
}



/*
 *  CREDITS
 */
#credits {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 50;
    vertical-align: baseline;
}
#created-by {
    padding: 10px;
    padding-bottom: 6px;
    font-family: DuranGo, sans-serif;
    font-size: 2.5vh;
    text-shadow: black 0 0 10px;
}
#created-by a {
    display: inline-block;
    text-decoration: none;
    color: white;
    cursor: pointer;
}



/*
 * CONTROLS
 */
#controls {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.8vh;
    margin-right: 1.2vh;
    z-index: 14;

    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}
#controls:hover {
    opacity: 1;
}
#controls .control {
    display: inline-block;
    float: right;
    cursor: pointer;
}

#controls img {
    height: 6vh;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
}
#controls img:hover {
    opacity: 1;
}

/*
 * WIN SCREEN
 */
#win {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.4);
}
#winner-message {
    display: block;
    width: 100%;
    font-family: Nunito, sans-serif;
    font-weight: 600;
    text-shadow: 0 0 20px rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-size: 12vh;
    margin-bottom: 5vh;
}
