body {
    display: flex;
    flex-direction: column;
}
#content {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    text-align: center;
}
#content h1,
#content h2,
#content a {
    font-family: Nunito, sans-serif;
    color: white;
}
#content h1 {
    font-size: 18em;
    letter-spacing: 0.25em;
    margin-bottom: 0;
}
#content h2 {
    font-size: 2em;
    margin-bottom: 4.5rem;
}
#content a {
    display: inline-block;
    text-decoration: none;

    font-size: 3em;
    margin-bottom: 4rem;
    border-radius: 0.2em;
    padding: 0.1em 0.3em;
}
