<!-- This file contains the code for setting the favicon of the page. -->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" sizes="16x16 32x32 64x64 96x96 128x128" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon16.ico" sizes="16x16" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon32.ico" sizes="32x32" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon64.ico" sizes="64x64" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon96.ico" sizes="96x96" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon128.ico" sizes="128x128" />
