<!-- This is the footer used on article pages. -->
<div id="footer">
    <div id="footer-text">
        <!-- Copyright -->
        <span class="copyright">
                    © Royal Ur, 2021
                </span>
        <!-- Email -->
        <a class="link" href="mailto:padraiglamont@gmail.com">
            Contact
        </a>
        <!-- Privacy Policy -->
        <a class="link" href="/privacy">
            Privacy
        </a>
    </div>
    <div id="footer-social-icons">
        <!-- Discord -->
        <a class="social-icon" href="https://discord.gg/FbCp76esgb">
            <img src="/res/discord.svg" alt="Discord" width="48" height="48" />
        </a>
        <!-- Reddit -->
        <a class="social-icon" href="https://www.reddit.com/r/GameofUr/">
            <img src="/res/reddit.svg" alt="Reddit" width="48" height="48" />
        </a>
        <!-- GitHub -->
        <a class="social-icon" href="https://github.com/Sothatsit/RoyalUrClient">
            <img src="/res/github.svg" alt="GitHub" width="48" height="48" />
        </a>
    </div>
</div>
