<!-- This is the boilerplate included in the <head> of every page. -->
<meta property="twitter:domain" content="royalur.net">
<meta name="og:determiner" content="" />
<meta name="og:type" content="website" />
<meta name="og:locale" content="en_US" />
<meta name="og:image" content="https://royalur.net/banner.[ver].jpg" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://royalur.net/banner.[ver].jpg">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" sizes="16x16 32x32 64x64 96x96 128x128" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon16.ico" sizes="16x16" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon32.ico" sizes="32x32" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon64.ico" sizes="64x64" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon96.ico" sizes="96x96" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon128.ico" sizes="128x128" />
<link rel="preload" href="/res/font_durango.[ver].ttf" as="font" type="font/ttf" crossorigin="anonymous" />
<link rel="preload" href="/res/font_nunito.[ver].woff2" as="font" type="font/woff2" crossorigin="anonymous" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
