#content {
    font-size: 1.5em;
}
#content p {
    font-size: 0.9em;
}
#content #capture-pieces {
    margin-top: 1em;
}
#content img {
    max-width: 100%;
    box-sizing: border-box;
    padding: 0.2em;
}
#content img.rosettes {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
